<%= simple_form_for(@edital) do |f| %>
  <%= f.error_notification %>

  <fieldset>
    <div class="form-inputs">
      <%= f.input :numero %>
      <%= f.input :descricao %>
      
      <%= f.date_select :data_publicacao, :start_year => 1970, :end_year => 2020 %>
      <%= f.file_field :arquivo %>
    </div>
  </fieldset>

  <div class="actions">
    <%= f.submit 'Salvar' %>
    <%= link_to 'Voltar', linha_pesquisas_path %>
  </div>
<% end %>
