<%= simple_form_for(@inscricao) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :processo_seletivos_linha_pesquisa, label_method: :descricao %>
    <%= f.input :media_graduacao %>
    <%= f.input :carga_horaria_graduacao %>
    <%= f.input :tem_pos_graduacao %>
    <%= f.input :graduacao_exterior %>
    <%= f.input :media_mestrado %>
    <%= f.input :tempo_curso_mestrado %>
    <%= f.input :conceito_capes %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
