<p id="notice"><%= notice %></p>

<h1>Listando :: Inscricaos</h1>

<table>
  <thead>
    <tr>
      <th>Numero Inscricao</th>
      <th>Candidato</th>
      <th>Linha de Pesquisa</th>
      <th colspan="3"></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inscricaos.each do |inscricao| %>
      <tr>
        <td><%= inscricao.id %></td>
        <td><%= @user.email %></td>
        <td><%= inscricao.processo_seletivos_linha_pesquisa %></td>
        <td><%= link_to 'Show', inscricao %></td>
        <td><%= link_to 'Edit', edit_inscricao_path(inscricao) %></td>
        <td><%= link_to 'Destroy', inscricao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Inscricao', new_inscricao_path %>
