<p id="notice"><%= notice %></p>

<p>
  <strong>Media graduacao:</strong>
  <%= @inscricao.media_graduacao %>
</p>

<p>
  <strong>Carga horaria graduacao:</strong>
  <%= @inscricao.carga_horaria_graduacao %>
</p>

<p>
  <strong>Tem pos graduacao:</strong>
  <%= @inscricao.tem_pos_graduacao %>
</p>

<p>
  <strong>Graduacao exterior:</strong>
  <%= @inscricao.graduacao_exterior %>
</p>

<p>
  <strong>Media mestrado:</strong>
  <%= @inscricao.media_mestrado %>
</p>

<p>
  <strong>Tempo curso mestrado:</strong>
  <%= @inscricao.tempo_curso_mestrado %>
</p>

<p>
  <strong>Conceito capes:</strong>
  <%= @inscricao.conceito_capes %>
</p>

<p>
  <strong>Tempo terceiro grau:</strong>
  <%= @inscricao.tempo_terceiro_grau %>
</p>

<p>
  <strong>Tempo monitoria:</strong>
  <%= @inscricao.tempo_monitoria %>
</p>

<p>
  <strong>Tempo iniciacao:</strong>
  <%= @inscricao.tempo_iniciacao %>
</p>

<p>
  <strong>Tempo pdi:</strong>
  <%= @inscricao.tempo_pdi %>
</p>

<p>
  <strong>Tempo chefia:</strong>
  <%= @inscricao.tempo_chefia %>
</p>

<p>
  <strong>Tempo nivel superior:</strong>
  <%= @inscricao.tempo_nivel_superior %>
</p>

<p>
  <strong>Tempo nivel medio:</strong>
  <%= @inscricao.tempo_nivel_medio %>
</p>

<p>
  <strong>Tempo sem vinculo:</strong>
  <%= @inscricao.tempo_sem_vinculo %>
</p>

<p>
  <strong>Tempo estagio:</strong>
  <%= @inscricao.tempo_estagio %>
</p>

<p>
  <strong>Candidato:</strong>
  <%= @inscricao.pessoa.nome %>
</p>

<p>
  <strong>Processo seletivos linha pesquisa:</strong>
  <%= @inscricao.processo_seletivos_linha_pesquisa.descricao %>
</p>

<%= link_to 'Confirmar', edit_inscricao_path(@inscricao) %> 

