<%= simple_form_for(@processo_seletivo) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <fieldset>
      <legend>Dados Processo Seletivo</legend>
      <%= f.input :descricao, label: "Descrição" %>
      <%= f.association :edital, label_method: :descricao, prompt: "Selecione" %>
      
      <%= f.simple_fields_for :processo_seletivos_linha_pesquisas do |builder| %>
        <%= render "processo_seletivos_linha_pesquisas_fields", :f => builder %>
      <% end %>
      <div class="form-actions">
        <%= link_to_add_association 'add item', f, 
          :processo_seletivos_linha_pesquisas, :class => "my-button", :partial => 'processo_seletivos_linha_pesquisas_fields' %>
          <%= f.submit %>
      </div>
      
    </fieldset>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Salvar", class: "my-button" %>
    <%= link_to 'Voltar', processo_seletivos_path %>
  </div>
<% end %>
