<%= simple_form_for(@processo_seletivo) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <fieldset>
      <legend>Dados Processo Seletivo</legend>
      <%= f.input :descricao, label: "Descrição" %>
      <%= f.association :edital, label_method: :descricao, prompt: "Selecione" %>
      <fieldset>
        <legend>Linhas de Pesquisa</legend>
        <%= f.simple_fields_for :processo_seletivos_linha_pesquisas do |builder| %>
          <%= render "processo_seletivos_linha_pesquisas_fields", :f => builder %>
        <% end %>
        <%= link_to_add_association 'add item', f, :processo_seletivos_linha_pesquisas, class: "my-button", partial: 'processo_seletivos_linha_pesquisas_fields' %>
  
      </fieldset>

      <fieldset>
        <legend>Calendário</legend>
        <%= f.simple_fields_for :detalhes_eventos do |de| %>
          <%= render "detalhes_eventos_fields", f: de %>
      <% end %>
      </fieldset>
    </fieldset>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Salvar", class: "my-button" %>
    <%= link_to 'Voltar', processo_seletivos_path %>
  </div>
<% end %>
