<%= simple_form_for(@avaliacao_curriculo) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nota_historicos %>
    <%= f.input :nota_producao_cientifica %>
    <%= f.input :nota_experiencia_docente %>
    <%= f.input :nota_experiencia_pdi %>
    <%= f.input :nota_experiencia_profissional %>
    <%= f.association :user %>
    <%= f.association :inscricao %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Salvar", class: "my-button" %>
    <%= link_to 'Voltar', editals_path %>
  </div>
<% end %>
