<p id="notice"><%= notice %></p>

<h1>Listando :: Avaliação Currículos</h1>
<table>
  <thead>
    <tr>
      <th>Candidato</th>
      <th>Processo Seletivo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @avaliacao_curriculos.each do |avaliacao_curriculo| %>
      <tr>
        <td><%= avaliacao_curriculo.inscricao.nome_candidato %></td>
        <td><%= avaliacao_curriculo.inscricao.descricao_proc_seletivo %></td>

        <% if can? :show, AvaliacaoCurriculo %>
          <td><%= link_to 'Show', avaliacao_curriculo %></td>
        <% end %>  
        <% if can? :edit, AvaliacaoCurriculo %>
          <td><%= link_to 'Edit', edit_avaliacao_curriculo_path(avaliacao_curriculo) %></td>
        <% end %>
        <% if can? :destroy, AvaliacaoCurriculo %>
          <td><%= link_to 'Destroy', avaliacao_curriculo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :new, AvaliacaoCurriculo %>
  <%= link_to 'Atribuir avaliador', new_avaliacao_curriculo_path %>
<% end %>


