<p id="notice"><%= notice %></p>

<h1>Listando :: Avaliação de Pré-Projetos</h1>

<table>
  <thead>
    <tr>
      <th>Avaliador</th>
      <th>Candidatura</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @avaliacao_pre_projetos.each do |avaliacao_pre_projeto| %>
      <tr>
        <td><%= avaliacao_pre_projeto.user.email %></td>
        <td><%= avaliacao_pre_projeto.inscricao.nome_candidato %></td>
        <td><%= link_to 'Ver', avaliacao_pre_projeto %></td>
        <td><%= link_to 'Remover', avaliacao_pre_projeto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Atribuir avaliador', new_avaliacao_pre_projeto_path %>
