<%= simple_form_for(@pessoa) do |f| %>
  <%= f.error_notification %>
  
  <div class="form-inputs">
    <fieldset>
      <legend>Dados Pessoais</legend>
      <%= f.input :nome %>
      <%= f.input :cpf, label: "CPF" %>
      <%= f.input :data_nascimento, html5: true, class: "datetimepicker"  %>
      <%= f.input :naturalidade %>
      <%= f.input :nacionalidade %>
      <%= f.input :estado_civil, collection: [ "Solteiro", "Casado", "Divorciado", "Viúvo"], prompt: "Selecione..." %>
      <%= f.input :grau_formacao, collection: [ "Sem escolaridade", "Ensino fundamental", "Ensino médio", "Ensino superior ", 
        "Especialização", "Mestrado", "Doutorado"  ], prompt: "Selecione..." %>
      <fieldset>
        <legend>Endereço</legend>
        <%= f.input :logradouro %>
        <%= f.input :numero, label: "Número" %>
        <%= f.input :complemento %>
        <%= f.input :bairro %>
        <%= f.association :estado, label_method: :nome, prompt: "Selecione", id: 'pessoa_estado_id' %>
        <%= if @pessoa.new_record?
              f.association :cidade, label_method: :nome, prompt: "Selecione", collection: []
            else 
              f.association :cidade, label_method: :nome, prompt: "Selecione"
            end
        %>

        <%= f.input :cep, label: "CEP" %>
      </fieldset>
    </fieldset>
  </div>
  <br>
  
  <div class="form-actions">
    <%= f.button :submit, "Salvar", class: "my-button" %>
    <%= link_to 'Voltar', "/" %>
  </div>
<% end %>


<script type="text/javascript">
  jQuery(document).ready(function() {
   jQuery("#pessoa_estado_id").change(function() {
      getCidadesPorEstado("id="+jQuery("#pessoa_estado_id").val());
    });
  });

  function getCidadesPorEstado(id) {
    jQuery.getJSON("/cidades_por_estado", id, function(j) {
      var options = '<option value="">Selecione</option>';
      jQuery.each(j.cty, function(i, item) {
        options += '<option value="' + item.id + '">' + item.n + '</option>';
      });
      jQuery("#pessoa_cidade_id").html(options);
    });
  }
</script>
