<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset="utf-8" />   
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <title><%= content_for?(:title) ? yield(:title) : "CIn/UFPE" %></title>
   
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "jquery.datetimepicker" %>
    <%= javascript_include_tag "custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>
   
  <body>
    <!-- Navigation -->
    <nav class="top-bar" data-topbar data-no-turbolink role="navigation">
      <ul class="title-area"> 
        <li class="name"> <h1><a href="/">Home</a></h1> </li> 
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone --> 
        <li class="toggle-topbar menu-icon"><a href="/"><span>Menu</span></a></li> 
      </ul> 
      <section class="top-bar-section"> 
        <!-- Left Nav Section -->
        <ul class="left"> 
          <% if current_user %>
            <% if current_user.has_role? 'Admin' %>
              <li class="has-dropdown"> <a href="#">Processo Seletivo</a>
                  <ul class="dropdown"> 
                    <% if can? :manage, Edital%>
                      <li><%= link_to 'Edital', editals_path %></li> 
                    <% end %>
                    <% if can? :manage, LinhaPesquisa %>
                      <li><%= link_to 'Linhas de Pesquisa', linha_pesquisas_path %></li> 
                    <% end %>
                    <% if can? :manage, ProcessoSeletivo%>
                      <li><%= link_to 'Processo Seletivo', processo_seletivos_path %></li> 
                    <% end %>
                  </ul> 
              </li> 
            <% end %>
            <% if current_user.has_role? 'Avaliador' %>
              <li class="has-dropdown"> <a href="#">Avaliar Inscrições</a>
                <ul class="dropdown"> 
                  <li><%= link_to 'Avaliar Currículos', "/avaliar_curriculos/" + current_user.id.to_s %></li> 
                </ul>
              </li>
            <% end %>
            <% if current_user.has_role? 'Admin' %>
              <li><%= link_to 'Atribuir Avaliador', avaliacao_curriculos_path %></li> 
            <% end %>  
            <% if can? :manage, Inscricao%>
              <li><%= link_to 'Inscricao', inscricaos_path %></li> 
            <% end %>                  
            <% if can? :manage, User %>
              <li ><%= link_to 'Users', users_path %></li>
            <% end %>
          <% end %>
        </ul> 
        <!-- Right Nav Section --> 
        <ul class="right"> 
          <% if current_user %>        
            <li class="divider"></li> 
            <li class="has-dropdown"> <%= link_to current_user.email, '#'%>
              <ul class="dropdown">
                <li><%= if current_user.pessoa == nil
                          link_to 'Dados Pessoais', new_pessoa_path
                        else
                          link_to 'Dados Pessoais', edit_pessoa_path(current_user.pessoa)
                        end%></li>
                <li><%= link_to 'Minha Conta', edit_user_registration_path %></li>
                <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li> 
              </ul> 
            </li> 
          <% else %>
            <li><%= link_to 'Login', new_user_session_path %></li>
            <li><%= link_to 'Registre-se', new_user_registration_path %></li>
          <% end %>
        </ul>  
      </section> 
    </nav>
    <!-- End of Navigation -->
    
    <!-- Flash messages -->
    
      <% if flash[:notice] %>
        <div data-alert class="alert-box success">
        <a href="#" class="close">&times;</a>
        <%= flash[:notice] %>
        </div>
      <% end %>
       
      <% if flash[:alert] %>
        <div data-alert class="alert-box alert">
        <a href="#" class="close">&times;</a>
        <%= flash[:alert] %>
        </div>
      <% end %>

      <% if flash[:messages] %>
        <div data-alert class="alert-box message">
        <a href="#" class="close">&times;</a>
        <%= flash[:messages] %>
        </div>
      <% end %>
    <!-- End Flash messages -->
    
    <!-- Carregar javascript -->
    <%= javascript_include_tag "application" %>
    <!-- Fim - Carregar javascript -->

    <!-- Conteudo -->
    <div class="row">
      <div class="small-11 medium-10 large-9 columns">
        <!-- Content -->
          <%= yield %>
        <!-- End Content -->
      </div>
    </div>
    <!-- Conteudo -->

    <!-- Footer -->
    <br><br><br><br>
    <div id="footer">
      <footer >
        <div class="small-12  small-centered columns">          
          <div>
            <a href="http://www2.cin.ufpe.br/site/secao.php?s=1&c=1">Sobre o CIn</a> | 
            <a href="http://twitter.com/CInUFPE">Twitter</a> | 
            <a href="http://www.facebook.com/CInUFPEOficial">Facebook</a> | 
            <a href="http://www2.cin.ufpe.br/site/faleConosco.php?s=1&c=110">Fale Conosco</a>
          </div>
          
        </div>
      </footer>
    </div>
    <!-- End Footer -->
    <%= javascript_include_tag "jquery.datetimepicker" %>
    <script type="text/javascript">
      $('.datetimepicker').datetimepicker({
       format:'d/m/Y H:i',
       formatDate:'Y/m/d   '          
     });    
     $('.datepicker').datetimepicker({
       timepicker:false,
       format:'d/m/Y',
       formatDate:'Y/m/d',
     });
    </script>
  </body>
</html>
